{% extends "layout.html" %}

{% block content %}

    <head>
  <style>
    .error {
        color: red;
    }
  </style>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.8.1"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>
<title>
    House Before 1980 API
</title>
<h3>Model Performance</h3>
<body>

  <div id="vis"></div>

  <script type="text/javascript">
    var spec = "{{ url_for('static', filename='pr_spec.json') }}";
    var opt = {renderer: "svg"}
    vegaEmbed('#vis', spec, opt).then(function (result) {
      // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
  </script>
</body>

<h3>Feature Performance</h3>

<body>

  <div id="vis1"></div>

  <script type="text/javascript">
    var spec = "{{ url_for('static', filename='feat_import_spec.json') }}";
    var opt = { renderer: "svg" }
    vegaEmbed('#vis1', spec, opt).then(function (result) {
      // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
  </script>
</body>


</html>
</html>



{% endblock content %}