{% extends "layout2.html" %}

{% block header %}
<div class="row">
    <div class="col">
    <h1>The house was <b>{{ posts.prediction }}</b> built before 1980!</h1>
    </div>
</div>
<hr>
{% endblock header%}

{% block content %}
    <title>
        Prediction Results
    </title>
<div>
    <div class='row'>
        <img src="static/old_house.jpg" width=80% height=20%>
    </div>
    <div class='row mt-5'>
        <img src="static/new_house.jpg" width=80% height=20% class="center">
    </div>
    <h3>House Information</h3>
    <li>Liveable Sqft: {{ posts.livearea }}</li>
    <li>Bedrooms: {{ posts.bdrms }}</li>
    <li>Baths: {{posts.baths }} </li>
    <li>One Story: {{  posts.one_story }}</li>
    <li>Attached Garage: {{  posts.att_garage }}</li>
    <li>Basement: {{  posts.basement }}</li>
</div>
{% endblock content %}

{% block content2 %}
<head>
    <style>
        .error {
            color: red;
        }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.8.1"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>

<body>
    <div id="vis"></div>
    <script type="text/javascript">
        var spec = "{{ url_for('static', filename='isomap_spec.json')  }}";
        var opt = { renderer: "svg" }
        vegaEmbed('#vis', spec, opt).then(function (result) {
            // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
        }).catch(console.error);
    </script>
</body>
{% endblock content2 %}